<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline' 'unsafe-eval'; img-src https://*; child-src 'none';")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
    body
        #app
        // The transpiled TypeScript expects CommonJS "exports" to be available in the global namespace
        script window.exports = module.exports
        script(src="render.ts")
